<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <!-- Isso foi retirado do form, pois o django se vira pra saber o que irar faazer
        se é criar ou atualizar
    -->   
    <!--action="{% url 'person_new' %}"-->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ v_form.as_p }}
        <button type="submit">salvar</button>
    </form>
</body>
</html>